<h1 class="text-center">Currency Converter</h1>
<div class="row">
<select class="dropdown">
  <option>EURO</option>
  <option>INR</option>
</select>

<input type=number id="amount">
convert to
<select class="dropdown">
  <option>INR</option>
</select>
